header {
  background-color: mistyrose;
  margin: 0px;
}

main {
  background-color:rgb(221, 215, 250);
  padding: 15px;
}

.img {
  max-width: 300px; /* or any fixed size you want */
  height: auto;
  margin: 15px;
}

.chapter-title {
    text-align: center;
    max-width: 250px;
    margin: 15px;
}

.the-lesson {
    text-align: left;
    margin: 15px;
}

.link {
    text-align: center;
    padding: 15px;
}

.flex-container {
    display: flex;
}


#title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

#text{
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 10px;
}