.page-one-header, .page-two-header{
text-align: center;
background-color: blanchedalmond;
margin: 0px;
margin-bottom: 20px;
}

h2{
font-size: 15px;
text-align: center;
margin: auto;
padding-bottom: 15px;
}

#chapter-2-descrption{
  width: auto;
  max-height: 50px;
}

.img{
  display: block;
  margin: auto;
  border-radius: 10px;
  max-height: 150px;
  width:auto;
}

.slides-wrapper {
  width: 100%;

}


.slides-wrapper-2 {
  display: flex;
  gap: 20px;
}

.slides-wrapper-3 {
flex: 1;
}

.slides{
  background-color: lightyellow;
  border: 1px solid black; 
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.slides ul{
  padding-left: 20px;
}

.subheader {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.link {
    text-align: center;
    padding: 15px;
}

@media (max-width: 1000px) {
  .slides-wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  .slides-wrapper-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: auto auto; /* Two rows, height based on content */
    gap: 20px; /* Space between grid cells */
  }

  .slides-wrapper-3 {
    box-sizing: border-box;
  }

  .slides {
  background-color: lightyellow;
  border: 1px solid black; 
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .slides-wrapper {
    width: 100%;
    box-sizing: border-box;
  }
  
  .slides-wrapper-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .slides-wrapper-3{
    box-sizing: border-box;
  }

  .slides {
    background-color: lightyellow;
    border: 1px solid black; 
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}